.wholething{
    border-left: 10px solid lightyellow;
    
    
}
.blue-div {
    width:1100px;
    height:100px;
    background-color: blue;
    padding-left: 80px;
    border: 1px solid red;
    
}

.mypicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }

.edsect {
    text-align: center;
    }

.zhh {
    border: 1px solid white; padding: 25px;
    margin: 25px 10px 25px 20px;
    border-radius: 10px;
}   

.tob {
    border: 1px solid white; padding: 25px;
    margin: 25px 10px 25px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.nypd {
    border: 1px solid white; padding: 25px;
    margin: 25px 10px 25px 20px;
    border-radius: 10px;
}

.lastAnchor{
width: 1200;
background-color: green;
padding: 10px;
border: 1px solid black;
box-sizing: border-box;
 
}
